!!!Strict
%html
  %head
    %title Test
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/facebook.css"}/
    %script{:type=>"text/javascript", :src=>"/javascripts/prototype.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/effects.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/lowpro.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/popup.js"}
    %script{:type=>"text/javascript"}
      :plain
        Event.addBehavior({ 'a.popup': Popup.TriggerBehavior() });
    
  %body
    %p
      %a.popup{:href=>"#test"} Popup
    
    %p
      %a.popup{:href=>"/test/ajax.haml"} Ajax Popup
    
    .popup#test{:style=>"display: none"}
      %h3 Popup Window
      .popup_content
        %p Hello world!
        %p
          %a{:href=>"javascript: Element.closePopup('test')"} Close