!!!Strict
%html
  %head
    %title Test
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/facebook.css"}/
    %script{:type=>"text/javascript", :src=>"/javascripts/prototype.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/effects.js"}
    / Required if you want draggable windows
    %script{:type=>"text/javascript", :src=>"/javascripts/dragdrop.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/lowpro.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/popup.js"}
    %script{:type=>"text/javascript"}
      :plain
        Event.addBehavior({ 'a.popup': Popup.TriggerBehavior() });
  %body
    %p
      %a.popup{:href=>"#test"} Popup
    
    %p
      %a.popup{:href=>"/test/ajax.haml"} Ajax Popup
    
    %p
      %a.popup{:href=>"#search"} Popup Input
    
    %p
      %a.popup{:href=>"#dragme"} Draggable
    
    %p
      %a.popup{:href=>"/test/draggable_ajax.haml"} Draggable Ajax Popup
    
    .popup#test{:style=>"display: none; width: 20em;"}
      %h3.title Popup Window
      .popup_content
        %p
          This little javascript library allows you to create Facebook-style
          popup windows with LowPro and Prototype.
        %p
          %a{:href=>"javascript: Element.closePopup('test')"} Close
    
    .popup#search{:style=>"display: none"}
      %h3.title Search
      .popup_content
        %form
          %p
            %input{:type=>"text", :name=>"query", :id=>"query", :value=>""}/
          %p
            %a{:href=>"javascript: Element.closePopup('search')"} Close
    
    .popup.draggable#dragme{:style=>"display: none"}
      %h3.title Drag Me
      .popup_content
        %p Try dragging me around by my title.
        %p
          %a{:href=>"javascript: Element.closePopup('dragme')"} Close
    