!!!Strict
%html
  %head
    %title Test
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/facebook.css"}/
    %script{:type=>"text/javascript", :src=>"/javascripts/prototype.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/effects.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/lowpro.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/popup.js"}
    %script{:type=>"text/javascript"}
      :plain
        Event.addBehavior({ 'a.popup': Popup.TriggerBehavior() });
    
  %body
    %p
      %a.popup{:href=>"#test"} Popup
    
    %p
      %a.popup{:href=>"/test/ajax.haml"} Ajax Popup
    
    %p
      %a.popup{:href=>"#search"} Popup Input
    
    .popup#test{:style=>"display: none"}
      %h3 Popup Window
      .popup_content
        %p Hello world!
        %p
          %a{:href=>"javascript: Element.closePopup('test')"} Close
    
    .popup#search{:style=>"display: none"}
      %h3 Search
      .popup_content
        %form
          %p
            %input{:type=>"text", :name=>"query", :id=>"query", :value=>""}/
          %p
            %a{:href=>"javascript: Element.closePopup('search')"} Close
    