!!!Strict
%html
  %head
    %title= @title || "Test"
    %script{:type=>"text/javascript", :src=>"/javascripts/prototype.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/effects.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/lowpro.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/popup.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/application.js"}
    =yield :meta
  %body
    =yield
