- content_for :meta do
  %style{:type=>"text/css"}
    :sass
      body
        margin: 0
        padding: 15px
        font-family: "Trebuchet MS", Helvetica, Arial, sans-serif
      h3
        background-color: #e5e5e5
        margin: -15px -15px 0 -15px
        padding: 15px

%h3 Just a Test
%p This is really just a test.