!!!Strict
%html
  %head
    %title Test
    %script{:type=>"text/javascript", :src=>"/javascripts/prototype.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/effects.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/lowpro.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/popup.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/application.js"}
    %style{:type=>"text/css"}
      :sass
        body
          font-family: "Lucida Grande", Helvetica, Arial, sans-serif
          font-size: 80%
          background: url(/images/checkered.png)        
        .popup
          padding: 10px
          h3
            background-color: #6D84B4
            border: 1px solid #3B5998
            color: white
            font-size: 110%
            margin: -10px -10px 0 -10px
            padding: 5px 9px
          .popup_content
            font-size: 90%
            border: 1px solid #555
            border-top: none
            margin: 0 -10px -10px -10px
            padding: 1px 9px
  %body
    %p
      %a.popup{:href=>"#test"} Popup
    
    %p
      %a.popup{:href=>"/inside.haml"} Ajax Popup
    
    .popup#test{:style=>"display: none"}
      %h3 Hello World!
      .popup_content
        %p This is really just a test!
        %p
          %a{:href=>"javascript: Element.closePopup('test')"} Close